# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Database (Opcional: si quieres que el repo venga vacío y se cree al iniciar)
*.db
*.sqlite3

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db